### Instructions: 
- Make sure that you understand this topics before you start.
- If you found something hard to do, try and try then google it and finally ask someone. 
- You can divide this work into daily tasks so that you do not feel pressure.
- After you finish, go to model answer and rate yourself. 
- If you find something ambiguous, Try to make a hypothesis to solve a problem.

### Question classification: 
- Green is level 1 
- Orange is level 2 
- Red is level 3

# <center> Let's start üí™ </center>

## <p style="color:orange;">Q.01 print out words that start with 's' in the following sentence.</p>
> st = 'Print only the words that start with s in this sentence'

In [16]:
# Answer here 
st = 'Print only the words that start with s in this sentence'

## <p style="color:orange;">Q.02 Use List comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.</p>

In [1]:
# Answer here
list1 = [x for x in range(50) if x%3==0]
list1

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

## <p style="color:orange;">Q.03 Go through the string below and if the length of a word is even print "even!"</p>
> st = 'Print only the words that start with s in this sentence'

In [3]:
# Answer here

## <p style="color:green;">Q.04 Given X which is a password. Print "Wrong" if the password is incorrect otherwise, print "Correct" and terminate the program.</p>
> The "Correct" password is the number 1999.

> Note: Don't end the program even if the user write the correct password.

In [2]:
# Answer here
flag = False
while flag!= True :
    x=input("Enter the password:")
    if(x=="1999"):
        print("Correct")
        flag=True
    else:
        print("Incorrect")

Enter the password: 1999

Correct

## <p style="color:red;">Q.05 Given a number N. Print the factorial of number N.</p>
> For information about factorial: https://en.wikipedia.org/wiki/Factorial

In [5]:
# Answer here 
N=int(input("Enter a value to calculate the factorial"))
cont=0
total=1
for i in range(N):
    total *= (N-cont)
    cont +=1
total

Enter a value to calculate the factorial 1

1

## <p style="color:red;">Q.06 Given a number N.print sum of numbers from 1 to N, Using a loop.</p>
> list4 = [5,3,4,6,1]

In [6]:
# Answer here

## <p style="color:orange;">Q.07 - Write a Python program to construct the following pattern.</p>

* 
* * 
* * * 
* * * * 
* * * * *

In [7]:
# Answer here 
x=0
for i in range(5):
    x+=1
    print("* "*x)

*
* *
* * *
* * * *
* * * * *

## <p style="color:green;">Q.08 Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.</p>

In [8]:
# Answer here 
for i in range(7):
    if i!=3 and i!= 6:
        print(i)

0
1
2
4
5

## <p style="color:green;">Q.09 Timon has a candies and his friend, Pumbaa, has b candies, so Pumbaa asked Timon to tell him the value of a‚àíb. However, Timon will tell him the value of a‚àíb if the value is ‚â•0; otherwise, he will lie and say 0. Since it was a hard task for Timon, he's asking for your help.</p>

In [9]:
# Answer here

## <p style="color:green;">Q.10 Given a list. Replace every positive number by 1, Replace every negative number by 2.</p>
> [19, 20, 21, 10, -53, -23, 10]

In [13]:
#Answer here
list1=[19, 20, 21, 10, -53, -23, 10]
i=0
while i < len(list1):
    if list1[i]>0:
        list1[i]=1
    else:
        list1[i]=2
    i+=1
list1

[1, 1, 1, 1, 2, 2, 1]

## <p style="color:green;">Q.11 Write a Python program to convert temperatures to and from celsius, fahrenheit.</p>
>[ Formula : c/5 = f-32/9 [ where c = temperature in celsius and f = temperature in fahrenheit ]

In [11]:
# Answer here

## <p style="color:orange;">Q.12 Write a Python program to create the multiplication table (from 1 to 10) of a number.</p>

Expected Output:

Input a number: 6                                                       
6 x 1 = 6                                                               
6 x 2 = 12                                                              
6 x 3 = 18                                                              
6 x 4 = 24                                                              
6 x 5 = 30                                                              
6 x 6 = 36                                                              
6 x 7 = 42                                                              
6 x 8 = 48                                                              
6 x 9 = 54                                                              
6 x 10 = 60

In [12]:
# Answer here 
x=int(input("Enter the number you want its multiplication table: "))
for i in range(1,11):
    print(f'{x} x {i} = {i*x}')

Enter the number you want its multiplication table:  1

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

# <center> Thank's for your effort ‚ù§Ô∏è </center>